<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/estilo.css">
    <title>Página Inicial</title>
</head>
<body class="body">
    <div class="InfoHome">
        <h1 class="titulo">{{ Titulo }}</h1>
        <p class="texto">O Cadastro Escolar é uma plataforma dedicada a facilitar o gerenciamento de informações dos estudantes. Aqui,
            você pode cadastrar novos alunos, atualizar dados existentes e acompanhar o desempenho acadêmico de cada um.
        </p>
        <img src="/static/estudar.png" class="imgHome">
        <nav class="navHome">
            <ul>
                <li><a href="/sobre">Sobre Nós</a></li>
                <li><a href="/cadastro">Cadastro</a></li>
                <li><a href="/exibir">Estudantes</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>
