<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Paytone+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/estilo.css">
    <title>Sobre Nós</title>
</head>
<body>

    {# Nav #}
    <section class="Nav">
        <a href="/" class="Logo">
            <img class="IconLogo" src="/static/formacao-continua.png">
            <p class="TextoNav"><strong>Cadastro de Pacientes</strong></p>
        </a>
        <div class="Rotas">
            <a class="TextoNav" href="/">Home</a>
            <a class="TextoNav" href="#Galeria">Galeria</a>
            <a class="TextoNav" href="/cadastro">Cadastrar</a>
            <a class="TextoNav" href="/exibir">Estudantes</a>
        </div>
    </section>

    <section id="banner">
        <h1 class="tituloSobre">Cadastro de Estudantes</h1>
    </section>

    <section id="sobre">
        <h3>Sobre Nós</h3>
        <div class="futuro">
            <p>O Cadastro de Estudantes é uma etapa fundamental para garantir que todas as informações dos alunos
                estejam devidamente organizadas e acessíveis. Por meio deste cadastro, você poderá registrar dados pessoais,
                informações acadêmicas e outras particularidades importantes dos estudantes, como idade, série e sexo.
                Essa ferramenta é essencial para facilitar o acompanhamento do desempenho dos alunos ao longo do ano letivo,
                garantindo que as escolas e responsáveis tenham acesso rápido a dados atualizados. Além disso, o cadastro possibilita uma gestão mais eficiente da vida escolar, permitindo a geração de relatórios e o planejamento de atividades com base nas necessidades específicas de cada estudante.
            </p>
            <img src="/static/estudando.png" alt="">
        </div>
    </section>

    <section id="como">
        <div class="retangulo">
            <div class="retanguloTitulo">
                <h2>Sobre a nossa Escola</h2>
            </div>
            <p>
                A nossa Escola é uma instituição comprometida com a formação integral dos seus alunos, promovendo
                a excelência acadêmica e o desenvolvimento humano. Com uma trajetória de 15 anos de atuação, nos
                dedicamos a oferecer um ambiente acolhedor e estimulante, onde o aprendizado vai além da sala de aula.
                Nossa missão é formar cidadãos conscientes, críticos e preparados para os desafios do mundo moderno,
                valorizando tanto o conhecimento técnico quanto os valores éticos e sociais. Contamos com uma equipe
                pedagógica qualificada, que utiliza metodologias inovadoras para garantir o engajamento dos estudantes
                e o desenvolvimento de suas habilidades.
            </p>
            <img src="/static/tecnologia.png" alt="">
        </div>
 </section>

{#Galeria#}
 <section class="Galeria" id="Galeria">
        <h4 class="TitleG">GALERIA</h4>
        <div class="Galeria">
            <div class="gUm">
                <div><img class="ImagensGaleria" src="../static/1.png"></div>
                <div><img class="ImagensGaleria" src="../static/2.jpg"></div>
                <div><img class="ImagensGaleria" src="../static/3.jpg"></div>
            </div>
            <div class="gDois">
                <div><img class="ImagensGaleria" src="../static/4.jpeg"></div>
                <div><img class="ImagensGaleria" src="../static/5.jpg"></div>
                <div><img class="ImagensGaleria" src="../static/6.jpg"></div>
            </div>
        </div>
    </section>

    <section class="Nav">
            <a href="/" class="Logo">
                <img class="IconLogo" src="/static/formacao-continua.png">
                <p class="TextoNav"><strong>Cadastro de Pacientes</strong></p>
            </a>
    </section>


</body>
</html>
